
@import '~@mdi/font/css/materialdesignicons.css';
@import '~vuetify/dist/vuetify.min.css';




/* Scroll */
::-webkit-scrollbar {
    width: 6px;
    height: 7px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #ebeef5;
  }
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #66b1ff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: #66b1ff;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #409eff;
  }

  .fieldset {
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    font-size: 14px;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
  }
  .fieldset legend {
    color: #606266;
    font-weight: 500;
    padding: 0 5px;
  }
