<template>
    <v-container fluid>
        <v-card class="mb-3">
            <template v-if="loading">
                <v-skeleton-loader type="card-heading"></v-skeleton-loader>
                <v-skeleton-loader
                    class="px-4 pb-3"
                    type="text"
                ></v-skeleton-loader>
            </template>
            <template v-else>
                <v-card-title>Purchase</v-card-title>
                <v-card-subtitle class="mt-1">
                    <v-btn
                        color="success"
                        outlined
                        :to="{ name: 'purchase.show' }"
                    >
                        <v-icon left> mdi-eye </v-icon>
                        View Purchase
                    </v-btn>
                </v-card-subtitle>
            </template>
        </v-card>
        <v-form
            lazy-validation
            ref="form"
            @submit.prevent
            :disabled="form.submitting"
        >
            <v-card class="mb-3 pa-3">
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="6">
                            <v-row>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.invoiceNumber"
                                        required
                                        outlined
                                        label="Invoice Number"
                                        readonly
                                    >
                                    </v-text-field>
                                    <!-- :rules="[(v) => !!v || 'Name is required']" -->
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-menu
                                        v-model="fromDateMenu"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                    >
                                        <!-- prepend-icon="mdi-calendar" -->
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                                label="Date"
                                                readonly
                                                :value="form.data.date"
                                                required
                                                :rules="[
                                                    (v) =>
                                                        !!v ||
                                                        'Date is required',
                                                ]"
                                                v-on="on"
                                                outlined
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                            locale="en-in"
                                            v-model="form.data.date"
                                            no-title
                                            @input="fromDateMenu = false"
                                            :min="minDate"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-autocomplete
                                        v-model="form.data.supplier_id"
                                        :items="supplierOpts"
                                        required
                                        item-text="name"
                                        item-value="id"
                                        :rules="[
                                            (v) =>
                                                !!v || 'Supplier is required',
                                        ]"
                                        outlined
                                        clearable
                                        label="Supplier"
                                    >
                                    </v-autocomplete>
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-autocomplete
                                        v-model="form.data.menu_id"
                                        :items="menuOpts"
                                        item-text="name"
                                        item-value="id"
                                        required
                                        :rules="[
                                            (v) => !!v || 'Menu is required',
                                        ]"
                                        outlined
                                        label="Menu"
                                        clearable
                                        return-object
                                        @input="handleChangeItem"
                                    >
                                        <template v-slot:selection="data">
                                            <v-chip
                                                v-bind="data.attrs"
                                                :input-value="data.selected"
                                            >
                                                <v-avatar left>
                                                    <v-img
                                                        :src="
                                                            storagePath +
                                                            data.item.avatar
                                                        "
                                                    ></v-img>
                                                </v-avatar>
                                                {{ data.item.name }}
                                            </v-chip>
                                        </template>

                                        <template v-slot:item="data">
                                            <template
                                                v-if="
                                                    typeof data.item !==
                                                    'object'
                                                "
                                            >
                                                <v-list-item-content
                                                    v-text="data.item"
                                                ></v-list-item-content>
                                            </template>
                                            <template v-else>
                                                <v-list-item-avatar>
                                                    <v-img
                                                        :src="
                                                            storagePath +
                                                            data.item.avatar
                                                        "
                                                    ></v-img>
                                                </v-list-item-avatar>
                                                <v-list-item-content>
                                                    <v-list-item-title
                                                        v-html="data.item.name"
                                                    ></v-list-item-title>
                                                </v-list-item-content>
                                            </template>
                                        </template>
                                    </v-autocomplete>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="12" sm="6" align-self="center">
                            <v-card-title class="text-h4">
                                Total: <span>{{ totalAmount }} $</span>
                            </v-card-title>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
            <v-card>
                <v-card-text>
                    <v-simple-table class="mt-5">
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left">avatar</th>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Qty</th>
                                    <th class="text-left">Price</th>
                                    <th class="text-left">Cost</th>
                                    <th class="text-left">Amount</th>
                                    <th class="text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(item, index) in form.data?.items"
                                    :key="index"
                                >
                                    <td>
                                        <v-img
                                            contain
                                            max-width="50"
                                            :src="storagePath + item.avatar"
                                        />
                                    </td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <v-text-field
                                            v-model="item.qty"
                                            dense
                                            style="
                                                max-width: 80px;
                                                width: 100px;
                                            "
                                        ></v-text-field>
                                    </td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.cost }}</td>
                                    <td>
                                        {{ item.price * item.qty }}
                                    </td>
                                    <td>
                                        <v-tooltip top>
                                            <template
                                                #activator="{ on, attrs }"
                                            >
                                                <v-btn
                                                    color="error"
                                                    icon
                                                    small
                                                    v-bind="attrs"
                                                    @click="
                                                        onClickDelete(index)
                                                    "
                                                    v-on="on"
                                                    ><v-icon
                                                        >mdi-trash-can-outline</v-icon
                                                    ></v-btn
                                                >
                                            </template>
                                            <span>Delete</span>
                                        </v-tooltip>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-text
                    class="text-right"
                    v-show="form.data?.items?.length"
                >
                    <v-btn
                        type="submit"
                        color="success"
                        :loading="form.submitting"
                        @click="onSubmit()"
                        ><v-icon left>mdi-checkbox-marked-circle-outline</v-icon
                        >Submit</v-btn
                    >
                </v-card-text>
            </v-card>
        </v-form>
    </v-container>
</template>

<script>
import dayjs from "dayjs";
import constants from "../../constants";
import axiosApiInstance from "../../utilites";
export default {
    data: () => ({
        storagePath: constants.storagePath,
        loading: true,
        current_date: null,
        fromDateMenu: false,

        form: {
            submitting: false,
            invoiceNumber: 1,
            data: {
                date: dayjs(new Date()).format("YYYY-MM-DD"),
                supplier_id: null,
                menu_id: null,
                items: [],
            },
            additional: {
                avatar: null,
            },
        },
        fromDateMenu: false,
        fromDateVal: null,
        minDate: "2020-01-05",
        maxDate: "2019-08-30",
        supplierOpts: [],
        menuOpts: [],
    }),
    computed: {
        fromDateDisp() {
            return this.fromDateVal;
            // format/do something with date
        },
        totalAmount() {
            let total = 0;
            this.form.data?.items.forEach((it) => {
                total += it.qty * it.price;
            });
            return total;
        },
    },
    watch: {},
    methods: {
        fetchMenu() {
            axiosApiInstance
                .get("all-menu")
                .then((response) => {
                    // this.dataTable = response.data;
                    // console.log(response.data);
                    this.menuOpts = response.data;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        fetchSupplier() {
            axiosApiInstance
                .get("all-supplier")
                .then((response) => {
                    // this.dataTable = response.data;
                    // console.log(response.data);
                    this.supplierOpts = response.data;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        handleChangeItem(val) {
            if (val) {
                let found = this.form.data?.items.find((doc) => {
                    return doc.id === val.id;
                });

                if (found) {
                    found.qty += 1;
                } else {
                    this.form.data?.items.push({
                        id: val.id,
                        name: val.name,
                        price: val.price,
                        qty: 1,
                        avatar: val.avatar,
                        cost: val.cost,
                    });
                }
            } else {
                this.form.data.menu_id = null;
            }
        },
        clearForm() {
            this.form.data = {
                date: null,
                supplierId: null,
                menu_id: null,
                items: [],
            };
            (this.fromDateMenu = false),
                (this.fromDateVal = null),
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
        },
        onSubmit() {
            if (this.$refs.form.validate()) {
                //     ...this.form.data,
                // total: this.totalAmount,
                this.form.submitting = true;

                axiosApiInstance
                    .post("purchase", {
                        ...this.form.data,

                        total: this.totalAmount,
                    })
                    .then((response) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "success",
                        });
                        this.clearForm();
                    })
                    .catch(({ response }) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "error",
                        });
                    })
                    .finally(() => {
                        this.form.submitting = false;
                    });
            }
        },
        onClickDelete(index) {
            this.form.data?.items.splice(index, 1);
        },
        // fetchInvoiceNumber () {
        //     this.form.invoiceNumber = this.form?.data?.items?.length + 1
        // }
    },
    mounted() {
        // this.fetchInvoiceNumber()
        this.fetchMenu();
        this.fetchSupplier();
    },
};
</script>

<style scoped></style>
