<template>
    <div>
        <v-container fluid>
            <v-card class="mb-3">
                <v-card-title>Cashier</v-card-title>
            </v-card>
            <v-card class="pa-3">
                <v-row>
                    <template v-if="isTable">
                        <v-col
                            cols="12"
                            md="4"
                            v-for="(table, idx) in tables"
                            :key="idx"
                        >
                            <v-card
                                color="blue lighten-1"
                                @click="findMenuByTable(table.id)"
                            >
                                <v-list-item-content class="pt-5">
                                    <v-img
                                        src="images/table.svg"
                                        contain
                                        height="80px"
                                        alt=""
                                    />
                                </v-list-item-content>
                                <v-list-item-subtitle
                                    class="text-center text--white ma-1"
                                    style="color: white"
                                >
                                    {{ table.name }}
                                </v-list-item-subtitle>
                            </v-card>
                        </v-col>
                    </template>
                </v-row>
                <v-row v-if="isTable">
                    <v-pagination
                        v-model="page"
                        :length="totalPages"
                    ></v-pagination>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-row class="pa-2">
                            <v-btn
                                color="primary"
                                block
                                @click="isTable = true"
                                v-if="!isTable"
                                x-large
                            >
                                <v-icon>mdi-table</v-icon>
                                Show Table</v-btn
                            >
                            <v-btn
                                color="error"
                                block
                                @click="isTable = false"
                                x-large
                                v-else
                            >
                                <v-icon>mdi-table</v-icon>
                                Hide Table</v-btn
                            >
                        </v-row>
                        <v-simple-table class="mt-5">
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-left">Image</th>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Qty</th>
                                        <th class="text-left">Price</th>

                                        <th class="text-left">Amount</th>
                                        <!-- <th class="text-left">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(it, index) in form.order_detail"
                                        :key="index"
                                    >
                                        <td class="text-left">
                                            <v-img
                                                contain
                                                :src="
                                                    constants.storagePath +
                                                    it.menu.avatar
                                                "
                                                width="50px"
                                            />
                                            <!-- {{ it }} -->
                                        </td>
                                        <td class="text-left">
                                            {{ it.menu_name }}
                                        </td>
                                        <td class="text-left">
                                            {{ it.quantity }}
                                        </td>
                                        <td class="text-left">
                                            {{ it.menu_price }}
                                        </td>
                                        <td class="text-left">
                                            {{ it.amount }}
                                        </td>

                                        <!-- <td class="text-left">
                                            <v-tooltip top>
                                                <template
                                                    #activator="{ on, attrs }"
                                                >
                                                    <v-btn
                                                        color="error"
                                                        icon
                                                        small
                                                        v-bind="attrs"
                                                        @click="
                                                            onClickDelete(index)
                                                        "
                                                        v-on="on"
                                                        ><v-icon
                                                            >mdi-trash-can-outline</v-icon
                                                        ></v-btn
                                                    >
                                                </template>
                                                <span>Delete</span>
                                            </v-tooltip>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-form
                            @submit.prevent
                            lazy-validation
                            ref="form"
                            :disabled="form.submitting"
                        >
                            <v-row>
                                <v-col cols="12">
                                    <v-card elevation="1">
                                        <v-toolbar
                                            color="green"
                                            dark
                                            class="font-weight-bold text-subtitle-1"
                                            flat
                                        >
                                            Total: {{ form.total_price }}
                                        </v-toolbar>
                                        <v-card-text>
                                            <!-- <v-btn
                                                color="blue"
                                                outlined
                                                class="mr-1"
                                            >
                                                <v-icon left>
                                                    mdi-printer
                                                </v-icon>
                                                <span> Print </span>
                                            </v-btn>
                                            <v-btn dark color="error" outlined>
                                                <v-icon left> mdi-poll </v-icon>
                                                <span> Report </span>
                                            </v-btn> -->
                                        </v-card-text>
                                        <v-card-text>
                                            <v-row>
                                                <v-col cols="12" md="12">
                                                    <v-textarea
                                                        v-model="
                                                            form.description
                                                        "
                                                        outlined
                                                        label="Note"
                                                    />
                                                </v-col>
                                                <v-col cols="12">
                                                    <div>Payment Method</div>
                                                    <v-radio-group
                                                        v-model="
                                                            form.payment_type
                                                        "
                                                        row
                                                    >
                                                        <template v-slot:label>
                                                        </template>
                                                        <v-radio value="Cash">
                                                            <template
                                                                v-slot:label
                                                            >
                                                                <div>
                                                                    <v-icon
                                                                        size="30px"
                                                                        color="green"
                                                                        left
                                                                    >
                                                                        mdi-cash
                                                                    </v-icon>
                                                                    <strong
                                                                        class="primary--text"
                                                                        >Cash</strong
                                                                    >
                                                                </div>
                                                            </template>
                                                        </v-radio>
                                                        <v-radio value="Bank">
                                                            <template
                                                                v-slot:label
                                                            >
                                                                <div>
                                                                    <v-icon
                                                                        size="25px"
                                                                        color="red"
                                                                        left
                                                                        >mdi-bank</v-icon
                                                                    >
                                                                    <strong
                                                                        class="blue--text"
                                                                        >Bank</strong
                                                                    >
                                                                </div>
                                                            </template>
                                                        </v-radio>
                                                    </v-radio-group>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field
                                                        outlined
                                                        v-model="
                                                            form.total_recieved
                                                        "
                                                        label="Payment"
                                                        required
                                                        :rules="[
                                                            (v) =>
                                                                !!v ||
                                                                'Pay is required',
                                                            (v) =>
                                                                v >=
                                                                    Number(
                                                                        form.total_price
                                                                    ) ||
                                                                'Total received must be grater or equal total amount',
                                                        ]"
                                                    />
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-text-field
                                                        :value="change || 0"
                                                        outlined
                                                        readonly
                                                        label="Change"
                                                    />
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-row>
                                                <v-col cols="12">
                                                    <v-btn
                                                        type="submit"
                                                        color="blue"
                                                        dark
                                                        block
                                                        x-large
                                                        :loading="
                                                            form.submitting
                                                        "
                                                        @click="onSubmit()"
                                                    >
                                                        <v-icon
                                                            >mdi-cash-multiple</v-icon
                                                        >
                                                        Save
                                                    </v-btn>
                                                </v-col>
                                                <v-col cols="12">
                                                    <!-- <v-btn
                                                        type="button"
                                                        color="error"
                                                        dark
                                                        block
                                                        x-large
                                                    >
                                                        <v-icon left
                                                            >mdi-cart</v-icon
                                                        >
                                                        Cancel Order
                                                    </v-btn> -->
                                                </v-col>
                                            </v-row>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-col>
                </v-row>
                <Receipt
                    :visible-dialog="visibleDialog"
                    @closeVisibleDialog="closeVisibleDialog"
                    :form="oldForm"
                />
            </v-card>
        </v-container>
    </div>
</template>

<script>
import constants from "../../constants";
import axiosApiInstance from "../../utilites";
import Receipt from "../../components/Receipt.vue";
export default {
    components: {
        Receipt,
    },
    data: () => ({
        constants,
        length: 15,
        tab: "all",
        isTable: false,
        visibleDialog: false,
        form: {
            submitting: false,
            payment_type: "Cash",
            order_detail: [],
            total_recieved: 0,
            total_price: 0,
            change: 0,
            description: null,
        },
        tables: [],
        page: 1,
        itemsPerPage: 3,
        totalPages: 0,
        categories: [],
        menus: [],
        oldForm: {},
    }),

    watch: {
        page(val) {
            if (val) {
                this.page = val;
                this.fetchTable();
            }
        },
    },
    computed: {
        change() {
            let total = 0;
            total = this.form.total_recieved - this.form.total_price;
            return total;
        },
    },
    methods: {
        closeVisibleDialog() {
            this.visibleDialog = false;
        },
        onClickDelete(index) {
            this.form.order_detail?.splice(index, 1);
        },
        cancelOrder() {},
        findMenuByTable(id) {
            // order-findMenuByTableId
            axiosApiInstance
                .get(`order-findMenuByTableId/${id}`)
                .then((response) => {
                    console.log(response.data);
                    this.form = {
                        ...response.data,
                        payment_type: "Cash",
                        change: 0,
                        total_recieved:0

                    };
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                });
        },
        onSubmit() {
            if (this.$refs.form.validate()) {
                this.form.submitting = true;
                this.oldForm = { ...this.form, change: this.change };
                axiosApiInstance
                    .post("pay-order", {
                        ...this.form,
                        change: this.change,
                        description: this.description,
                    })
                    .then((response) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "success",
                        });
                        this.visibleDialog = true;
                        this.fetchTable();

                        this.form = {};
                        // this.$router.go(-1);
                    })
                    .catch(({ response }) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "error",
                        });
                    })
                    .finally(() => {
                        this.form.submitting = false;
                    });
            }
        },

        fetchTable() {
            // let url = `table?page=${this.page}&rowsPerPage=${this.itemsPerPage}`;
            axiosApiInstance
                .get("all-table", {
                    params: {
                        page: this.page,
                        perpage: this.itemsPerPage,
                        search: this.searchQuery,
                        status: "unavilable",
                    },
                })
                .then((response) => {
                    // console.log(response.data);
                    this.tables = response.data?.data;
                    this.totalPages = response.data?.meta?.last_page;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                });
        },
        fetchCategory() {
            axiosApiInstance
                .get(`/categories/getAll`)
                .then((response) => {
                    // console.log(response.data);
                    this.categories = response.data;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                });
        },
        fetchMenu() {
            axiosApiInstance
                .get(`/menus`)
                .then((response) => {
                    // console.log(response.data);
                    this.menus = response.data;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                });
        },
    },
    mounted() {
        this.fetchTable();
        // this.fetchCategory();
        // this.fetchMenu();
    },
};
</script>
