<template>
    <v-container fluid>
        <v-card class="mb-3">
            <v-card-title>{{ $t("Dashboard") }}</v-card-title>
        </v-card>
        <v-row class="mb-3">
            <v-col cols="12" sm="8">
                <v-row>
                    <v-col sm="6" md="4" cols="12">
                        <v-card color="blue lighten-1">
                            <v-list-item-content class="pt-5">
                                <v-avatar rounded="0">
                                    <v-icon color="white" size="60"
                                        >mdi-shape-outline</v-icon
                                    >
                                </v-avatar>
                            </v-list-item-content>
                            <v-list-item-subtitle
                                class="text-center text--white ma-1"
                                style="color: white"
                            >
                                Total Categories
                            </v-list-item-subtitle>
                            <v-list-item-title
                                class="text-center text-h5 pb-5"
                                style="color: white"
                            >
                                0
                            </v-list-item-title>
                        </v-card>
                    </v-col>
                    <v-col sm="6" md="4" cols="12">
                        <v-card color="red lighten-1">
                            <v-list-item-content class="pt-5">
                                <v-avatar rounded="0">
                                    <v-icon color="white" size="60"
                                        >mdi-food-outline</v-icon
                                    >
                                </v-avatar>
                            </v-list-item-content>
                            <v-list-item-subtitle
                                class="text-center text--white ma-1"
                                style="color: white"
                            >
                                Total Menu
                            </v-list-item-subtitle>
                            <v-list-item-title
                                class="text-center text-h5 pb-5"
                                style="color: white"
                            >
                                0
                            </v-list-item-title>
                        </v-card>
                    </v-col>
                    <v-col sm="6" md="4" cols="12">
                        <v-card color="green lighten-1">
                            <v-list-item-content class="pt-5">
                                <v-avatar rounded="0">
                                    <v-icon color="white" size="60"
                                        >mdi-store-minus-outline</v-icon
                                    >
                                </v-avatar>
                            </v-list-item-content>
                            <v-list-item-subtitle
                                class="text-center text--white ma-1"
                                style="color: white"
                            >
                                Total Sell
                            </v-list-item-subtitle>
                            <v-list-item-title
                                class="text-center text-h5 pb-5"
                                style="color: white"
                            >
                                0
                            </v-list-item-title>
                        </v-card>
                    </v-col>
                    <!-- <v-col cols="12" sm="12" lg="12">
    <Bar id="my-chart-id" :options="chartOptions" :data="chartData" />
  </v-col> -->
                </v-row>
            </v-col>
            <v-col cols="12" sm="4"> </v-col>
        </v-row>
        <v-card class="mb-3" flat rounded="">
            <v-card-subtitle> Purchase Chart</v-card-subtitle>
            <v-card-text>
                <div id="chart" style="max-width: 1200px"></div>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
import constants from "../constants";
import c3 from "c3";
import axiosApiInstance from "../utilites";
export default {
    data: () => ({
        storagePath: constants.storagePath,
        loading: true,
        chartData: [],
    }),

    async mounted() {
        var chart = c3.generate({
            bindto: "#chart",
            data: {
                x: "x",
                columns: [["x"], ["Purchases"]],
                types: {
                    Purchases: "bar",
                },
                colors: {
                    Purchases: "#F1948A",
                },
            },
            axis: {
                x: {
                    type: "timeseries",
                    tick: {
                        format: "%Y-%m-%d",
                    },
                },
            },
        });

        const { data } = await axiosApiInstance.get("chart");
        // console.log(data);
        chart.load({
            columns: [
                ["x", ...data.map((it) => it.purchase_date)],
                ["Purchases", ...data.map((it) => it.sum)],
            ],
        });
    },
    methods: {
        // async fetchChart() {
        //     axiosApiInstance
        //         .get("chart")
        //         .then((response) => {
        //             console.log(response.data);
        //             // this.dataTable = response.data;
        //             this.chartData = response.data;
        //         })
        //         .catch(({ response }) => {
        //             this.$store.dispatch("pushNotification", {
        //                 message: response.data.message,
        //                 type: "error",
        //             });
        //         })
        //         .finally(() => {
        //             this.loading = false;
        //         });
        // },
    },
};
</script>
