<template>
    <v-dialog :value="visibleDialog" fullscreen>
        <v-card>
            <v-toolbar flat color="primary" dark>
                <v-toolbar-title> អាហារដ្ឋានភូមិចិន </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn fab text @click="closeVisibleDialog()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <div id="print-area">
                <div id="wrapper">
                    <h3>Restuarant App អាហារដ្ឋានភូមិចិន</h3>
                    <p style="text-transform: capitalize"></p>
                    <span class="left"
                        >Address: ភូមិ ចិន​ ឃុំព្រែកព្រះស្តេច
                    </span>
                    <span class="left">Tel: 098 76 54 64 </span>
                    <span class="left"
                        >Reference receipt: <strong>{{ form.id }}</strong
                    ></span>
                    <table class="table" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th><em>#</em></th>
                                <th>Menu</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(it, idx) in form.order_detail"
                                :key="idx"
                            >
                                <td style="text-align: center; width: 30px">
                                    {{ idx + 1 }}
                                </td>
                                <td style="text-align: left; width: 180px">
                                    {{ it.menu_name }}
                                </td>
                                <td style="text-align: center; width: 50px">
                                    {{ it.quantity }}
                                </td>
                                <td style="text-align: right; width: 55px">
                                    {{ it.menu_price }}
                                </td>
                                <td style="text-align: right; width: 65px">
                                    {{ it.amount }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="totals" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td style="text-align: left">Total quantity</td>
                                <td
                                    style="
                                        text-align: right;
                                        padding-right: 1.5%;
                                        border-right: 1px solid #999;
                                        font-weight: bold;
                                    "
                                >
                                    {{ form.order_detail?.length }}
                                </td>
                                <td
                                    style="text-align: left; padding-left: 1.5%"
                                >
                                    Total
                                </td>
                                <td
                                    style="text-align: right; font-weight: bold"
                                >
                                    ${{ form.total_price }}
                                </td>
                            </tr>
                            <tr style="background-color: #cccccc">
                                <td
                                    colspan="2"
                                    style="
                                        text-align: left;
                                        font-weight: bold;
                                        border-top: 1px solid #000;
                                        padding-top: 5px;
                                    "
                                >
                                    Payment Type
                                </td>
                                <td
                                    colspan="2"
                                    style="
                                        border-top: 1px solid #000;
                                        padding-top: 5px;
                                        text-align: right;
                                        font-weight: bold;
                                    "
                                >
                                    {{ form.payment_type }}
                                </td>
                            </tr>
                            <tr style="background-color: #cccccc">
                                <td
                                    colspan="2"
                                    style="
                                        text-align: left;
                                        font-weight: bold;
                                        border-top: 1px solid #000;
                                        padding-top: 5px;
                                    "
                                >
                                    Paid Amount
                                </td>
                                <td
                                    colspan="2"
                                    style="
                                        border-top: 1px solid #000;
                                        padding-top: 5px;
                                        text-align: right;
                                        font-weight: bold;
                                    "
                                >
                                    ${{ form.total_recieved }}
                                </td>
                            </tr>

                            <tr style="background-color: #cccccc">
                                <td
                                    colspan="2"
                                    style="
                                        text-align: left;
                                        font-weight: bold;
                                        border-top: 1px solid #000;
                                        padding-top: 5px;
                                    "
                                >
                                    Change
                                </td>
                                <td
                                    colspan="2"
                                    style="
                                        border-top: 1px solid #000;
                                        padding-top: 5px;
                                        text-align: right;
                                        font-weight: bold;
                                    "
                                >
                                    ${{ form.change }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="border-top: 1px solid #000; padding-top: 10px">
                        Thank You!!!
                    </div>

                    <div
                        id="buttons"
                        v-if="isPrint"
                        style="
                            padding-top: 10px;
                            text-transform: uppercase;
                            margin-top: 30px;
                        "
                    >
                        <!-- <span class="left"
                      ><a
                          href="/service/cashier"
                          style="
                              width: 80%;
                              display: block;
                              font-size: 12px;
                              text-decoration: none;
                              text-align: center;
                              color: #000;
                              background-color: #4fa950;
                              border: 2px solid #4fa950;
                              padding: 10px 1px;
                              border-radius: 5px;
                          "
                          >Back to Order</a
                      ></span
                  > -->
                        <!-- <span class="right"
                      ><button
                          type="button"
                          @click="print()"
                          style="
                              width: 80%;
                              cursor: pointer;
                              font-size: 12px;
                              background-color: #ffa93c;
                              color: #000;
                              text-align: center;
                              border: 1px solid #ffa93c;
                              padding: 10px 1px;
                              border-radius: 5px;
                          "
                      >
                          Print
                      </button></span
                  > -->

                        <button
                            type="button"
                            @click="print()"
                            style="
                                width: 100%;
                                cursor: pointer;
                                font-size: 12px;
                                background-color: #ffa93c;
                                color: #000;
                                text-align: center;
                                border: 1px solid #ffa93c;
                                padding: 10px 1px;
                                border-radius: 5px;
                            "
                        >
                            Print
                        </button>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
import { Printd } from "printd";

export default {
    data() {
        return {
            isPrint: true,
        };
    },
    props: {
        visibleDialog: {
            type: Boolean,
            default: false,
        },
        form: {
            type: Object,
            default: {},
        },
    },
    methods: {
        print() {
            this.d.print(document.getElementById("print-area"), [
                `
                  #wrapper {
      width: 280px;
      margin: 0 auto;
      text-align: center;
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
  }
  #wrapper img {
      width: 80%;
  }
  h3 {
      margin: 5px 0;
  }
  .left {
      width: 60%;
      float: left;
      text-align: left;
      margin-bottom: 3px;
  }
  .right {
      width: 40%;
      float: right;
      text-align: right;
      margin-bottom: 3px;
  }
  .table,
  .totals {
      width: 100%;
      margin: 10px 0;
  }
  .totals {
      margin-top: 10px;
      margin-bottom: 0px;
  }
  .table th {
      border-bottom: 1px solid #000;
  }
  .table td {
      padding: 0;
  }
  .totals td {
      width: 24%;
      padding: 0;
  }
  .table td:nth-child(2) {
      overflow: hidden;
  }
  #buttons { display: none; }
          `,
            ]);
        },

        closeVisibleDialog() {
            this.$emit("closeVisibleDialog", false);
        },
    },
    mounted() {
        this.d = new Printd();

        const { contentWindow } = this.d.getIFrame();

        if (contentWindow) {
            contentWindow.addEventListener("beforeprint", () => {
                console.log("before print event!");
            });
            contentWindow.addEventListener("afterprint", () =>
                console.log("after print event!")
            );
        }
    },
};
</script>

<style type="text/css" media="all" scoped>
#wrapper {
    width: 280px;
    margin: 30px auto;
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#wrapper img {
    width: 80%;
}
h3 {
    margin: 5px 0;
}
.left {
    width: 60%;
    float: left;
    text-align: left;
    margin-bottom: 3px;
}
.right {
    width: 40%;
    float: right;
    text-align: right;
    margin-bottom: 3px;
}
.table,
.totals {
    width: 100%;
    margin: 10px 0;
}
.totals {
    margin-top: 10px;
    margin-bottom: 0px;
}
.table th {
    border-bottom: 1px solid #000;
}
.table td {
    padding: 0;
}
.totals td {
    width: 24%;
    padding: 0;
}
.table td:nth-child(2) {
    overflow: hidden;
}
</style>
<!-- <style type="text/css" media="print">
  /* #buttons { display: none; } */
  </style> -->
