<template>
    <v-container fluid>
        <v-card class="mb-3">
            <template v-if="loading">
                <v-skeleton-loader type="card-heading"></v-skeleton-loader>
                <v-skeleton-loader
                    class="px-4 pb-3"
                    type="text"
                ></v-skeleton-loader>
            </template>
            <template v-else>
                <v-card-title>Salary</v-card-title>
                <v-card-subtitle>Employee/Given Salary</v-card-subtitle>
            </template>
        </v-card>
        <v-form
            lazy-validation
            ref="form"
            @submit.prevent="onSubmit"
            :disabled="form.submitting"
        >
            <v-card>
                <v-card-subtitle>
                    <!-- <v-btn class="ma-1" outlined color="primary" @click="$router.go(-1)"
            ><v-icon left>mdi-arrow-left</v-icon>Back</v-btn
          > -->
                </v-card-subtitle>
                <v-card-subtitle class="mb-3"
                    >Fill the form bellow to give salary</v-card-subtitle
                >
                <v-card-text>
                    <v-row>
                        <v-col class="py-0" cols="12" sm="6">
                            <v-autocomplete
                                v-model="employee_id"
                                :items="employeeOpts"
                                required
                                item-text="name"
                                item-value="id"
                                :rules="[(v) => !!v || 'Employee is required']"
                                outlined
                                clearable
                                label="Employee"
                                @input="handleEmployeeChange"
                            >
                            </v-autocomplete>
                        </v-col>
                        <v-col class="py-0" cols="12" sm="6">
                            <v-text-field
                                v-model="form.data.email"
                                required
                                :rules="[(v) => !!v || 'Email is required']"
                                readonly
                                outlined
                                label="Email"
                            >
                            </v-text-field>
                        </v-col>
                        <v-col class="py-0" cols="12" sm="6">
                            <v-text-field
                                v-model="form.data.address"
                                type="text"
                                required
                                :rules="[(v) => !!v || 'Address is required']"
                                outlined
                                readonly
                                label="Address"
                            >
                            </v-text-field>
                        </v-col>

                        <v-col class="py-0" cols="12" sm="6">
                            <v-text-field
                                v-model="form.data.telephone"
                                type="text"
                                required
                                :rules="[(v) => !!v || 'Telephone is required']"
                                outlined
                                readonly
                                label="Telephone"
                            >
                            </v-text-field>
                        </v-col>
                        <v-col class="py-0" cols="12" sm="6">
                            <v-autocomplete
                                v-model="form.data.salary_month"
                                :items="monthOpts"
                                required
                                :rules="[(v) => !!v || 'Month is required']"
                                outlined
                                clearable
                                label="Month"
                            >
                            </v-autocomplete>
                        </v-col>
                        <v-col class="py-0" cols="12" sm="6">
                            <v-text-field
                                v-model="form.data.amount"
                                type="text"
                                required
                                :rules="[(v) => !!v || 'Salary is required']"
                                outlined
                                label="Salary"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="px-4 pb-4">
                    <v-btn
                        type="submit"
                        color="blue"
                        outlined
                        :loading="form.submitting"
                        ><v-icon left>mdi-cash</v-icon>Pay</v-btn
                    >
                </v-card-actions>
            </v-card>
        </v-form>
    </v-container>
</template>
<script>
import axiosApiInstance from "../../utilites";
export default {
    data: () => ({
        loading: true,
        current_date: null,
        form: {
            submitting: false,
            data: {
                name: null,
                email: null,
                address: null,
                companyName: null,
                telephone: null,
                amount: null,
                salary_month: null,
            },
            additional: {
                avatar: null,
            },
        },
        employee_id: null,
        employeeOpts: [],
        monthOpts: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
        ],
    }),

    mounted() {
        this.loading = false;
        this.fetchEmployee();
    },

    methods: {
        handleEmployeeChange(val) {
            if (val) {
                axiosApiInstance
                    .get(`employee/${val}`)
                    .then((response) => {
                        const { telephone, email, address } = response.data;
                        this.form.data = {
                            telephone,
                            email,
                            address,
                        };
                        // console.log(response.data);
                    })
                    .catch(({ response }) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "error",
                        });
                    });
            } else {
                this.form.data = {};
            }
        },
        fetchEmployee() {
            axiosApiInstance
                .get(`/all-employee`)
                .then((response) => {
                    // console.log(response.data);
                    this.employeeOpts = response.data;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                });
        },
        onInputFile(e) {
            if (e) this.form.additional.avatar = URL.createObjectURL(e);
            else this.form.additional.avatar = null;
        },

        onSubmit() {
            if (this.$refs.form.validate()) {
                this.form.submitting = true;

                axiosApiInstance
                    .post("given-salary", {
                        ...this.form.data,
                        employee_id: this.employee_id,
                    })
                    .then((response) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message || "Success",
                            type: "success",
                        });
                        this.employee_id = null;
                        this.form.data = {};
                        this.$nextTick(() => {
                            this.$refs.form.reset();
                        });
                    })
                    .catch(({ response }) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "error",
                        });
                        // console.log(error);
                    })
                    .finally(() => {
                        this.form.submitting = false;
                    });
            }
        },

        // keyDown(e)
        // {
        //     var charCode = e.keyCode
        //     console.log(e)
        //     if (charCode < 8 || charCode > 9 && charCode < 16 || charCode > 20 && charCode < 33 || charCode > 40 && charCode < 45 || charCode == 47 || charCode > 57 && charCode < 61 || charCode > 61 && charCode < 91 || charCode > 91) e.preventDefault();
        // }
    },
};
</script>
