<template>
    <v-container fluid>
        <v-card class="mb-3">
            <template v-if="loading">
                <v-skeleton-loader type="card-heading"></v-skeleton-loader>
                <v-skeleton-loader
                    class="px-4 pb-3"
                    type="text"
                ></v-skeleton-loader>
            </template>
            <template v-else>
                <v-card-title>role</v-card-title>
                <v-card-subtitle>Role/Create</v-card-subtitle>
            </template>
        </v-card>
        <v-form
            lazy-validation
            ref="form"
            @submit.prevent="onSubmit"
            :disabled="form.submitting"
        >
            <v-card>
                <v-card-subtitle>
                    <v-btn
                        class="ma-1"
                        outlined
                        color="primary"
                        @click="$router.go(-1)"
                        ><v-icon left>mdi-arrow-left</v-icon
                        >{{ $t("Back") }}</v-btn
                    >
                </v-card-subtitle>
                <v-card-subtitle class="mb-3"
                    >Fill the form bellow to create new role</v-card-subtitle
                >
                <v-card-text>
                    <v-row>
                        <v-col class="py-0" cols="12" sm="12">
                            <v-text-field
                                v-model="form.data.name"
                                required
                                :rules="[(v) => !!v || 'Role is required']"
                                outlined
                                label="Role"
                            >
                            </v-text-field>
                        </v-col>
                        <v-col class="ml-2" cols="12">
                            <v-checkbox
                                v-model="isChecked"
                                @change="handleChecked"
                                label="Check All"
                            />
                        </v-col>
                        <v-col cols="12">
                            <fieldset class="fieldset">
                                <!-- <v-toolbar flat>
                                    <v-spacer></v-spacer>
                                    <v-text-field
                                        v-model="searchQuery"
                                        clearable
                                        outlined
                                        dense
                                        label="Search Permission..."
                                    />
                                </v-toolbar> -->
                                <legend>Permission</legend>
                                <v-row>
                                    <v-col
                                        cols="12"
                                        sm="6"
                                        md="4"
                                        class="py-0"
                                        v-for="(
                                            permission, index
                                        ) in permissionOpts"
                                        :key="index"
                                    >
                                        <v-checkbox
                                            v-model="form.data.permission_id"
                                            :value="permission.id"
                                            :label="permission.name"
                                        />
                                    </v-col>
                                </v-row>
                            </fieldset>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions class="px-4 pb-4">
                    <v-btn
                        type="submit"
                        color="success"
                        :loading="form.submitting"
                        ><v-icon left>mdi-checkbox-marked-circle-outline</v-icon
                        >Save</v-btn
                    >
                    <v-btn color="secondary" @click="$router.go(-1)"
                        ><v-icon left>mdi-cancel</v-icon>Cancel</v-btn
                    >
                </v-card-actions>
            </v-card>
        </v-form>
    </v-container>
</template>
<script>
import axiosApiInstance from "../../utilites";
import _ from "lodash";
export default {
    data: () => ({
        loading: true,
        current_date: null,
        form: {
            submitting: false,
            data: {
                name: null,
                permission_id: [],
            },
            additional: {
                avatar: null,
            },
        },
        permissionOpts: [],
        isChecked: false,
        searchQuery: "",
    }),

    mounted() {
        this.loading = false;
        this.fetchPermission();
    },
    watch: {
        "form.data.permission_id"(permissionArr) {
            if (permissionArr.length === this.permissionOpts.length) {
                this.isChecked = true;
                return;
            }
            this.isChecked = false;
        },
        searchQuery: _.debounce(function (val) {
            // if(val) {
            //     // this.fetchPermission()
            // }
        }, 1000),
    },
    computed: {
        filterPermissions() {
            // if (this.searchQuery) {
            //     return [...this.permissionOpts].filter((item) => {
            //         return this.searchQuery
            //             .toLowerCase()
            //             .split(" ")
            //             .every((v) => item.name.toLowerCase().includes(v));
            //     });
            // } else {
            //     return this.permissionOpts;
            // }
        },
    },
    methods: {
        handleChecked(checked) {
            if (checked) {
                for (let i = 0; i < this.permissionOpts.length; i++) {
                    const permission = this.permissionOpts[i].id;

                    this.form.data.permission_id.push(permission);
                }
            } else {
                this.form.data.permission_id = [];
            }
        },
        fetchPermission() {
            axiosApiInstance
                .get(`/permission`, {
                    params: {
                        searchQuery: this.searchQuery,
                    },
                })
                .then((response) => {
                    // console.log(response.data);
                    this.permissionOpts = response.data;
                })
                .catch(({ response }) => {
                    this.$store.dispatch("pushNotification", {
                        message: response.data.message,
                        type: "error",
                    });
                });
        },
        onInputFile(e) {
            if (e) this.form.additional.avatar = URL.createObjectURL(e);
            else this.form.additional.avatar = null;
        },

        onSubmit() {
            if (this.$refs.form.validate()) {
                this.form.submitting = true;

                axiosApiInstance
                    .post("role", this.form.data)
                    .then((response) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "success",
                        });
                        this.$router.go(-1);
                    })
                    .catch(({ response }) => {
                        this.$store.dispatch("pushNotification", {
                            message: response.data.message,
                            type: "error",
                        });
                    })
                    .finally(() => {
                        this.form.submitting = false;
                    });
            }
        },

        // keyDown(e)
        // {
        //     var charCode = e.keyCode
        //     console.log(e)
        //     if (charCode < 8 || charCode > 9 && charCode < 16 || charCode > 20 && charCode < 33 || charCode > 40 && charCode < 45 || charCode == 47 || charCode > 57 && charCode < 61 || charCode > 61 && charCode < 91 || charCode > 91) e.preventDefault();
        // }
    },
};
</script>
